@import url('https://fonts.googleapis.com/css?family=Radley|Lato');
@import "range.css";

body{
  font-family: Lato,sans-serif;
  font-size: 18px;
  line-height: 1.6em;
}

/* background */
.container{
  background-image: url('../images/bg.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

/* Header */
header {
  font-family: Radley, serif;
  padding-top: 40px;
  padding-bottom: 40px;
}

header h1{
  font-size: 3em;
  font-weight: 300;
}

/* Sections */
#introduction, #controls, #result{
  padding: 20px 0;
}

#introduction{
  background-color: rgba(23,25,11,0.5);
}

#controls > div:nth-child(1n+1){
  margin-top: 20px;
}

/* inputs */
label, input, button{
  display: block;
  width: 100%;
}

label{
  text-align: center;
  text-shadow: 0 0 5px black;
}

input.form-control{
  background-color: rgb(220,0,0);
  color: white;
  font-family: monospace;
}

.alert{
  color: red;
  padding-top: 5px;
}

button.btn{
  background-color: #69835e;
  border: 3px solid white;
  padding: 10px 15px;
  font-size: 2rem;
}
button.btn:hover{
  background-color: #4a6040;
  color: white;
}

#answer{
  padding: 20px;
  font-family: Radley, serif;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  line-height: 1.4em;
  color: #fff;
  background-color: rgb(242, 195, 216);
  background-image: url('../images/hearts.jpg');
  background-size: cover;
  border: 1px solid white;
}

#answer.sample{
  color: rgb(245, 98, 160);
}


footer{
  height: 40px;
  text-align: right;
}
